title {
    color: green;
}

/* class "body" is utilized to place the palm tree background with a scroll lock */
body {
    background-image: url("https://nlepera.github.io/nlepera_cv/img/palm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
/* class "cover" creates the opaque overlay scroll */
.cover {
    background-color: rgba(211, 186, 174, 0.86);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


/* ensures table with stays at 95% of the 80% window size as set by .cover. set >100 to allow for clean margins */
table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}



a {
    color: #1c4a04;
}

/* .h1 creates a header style for use within an html table header cell */
.h1 {
    color: #340517;
    text-align: left;
    font-size: 50px;
    font-variant: small-caps;
    margin-bottom: auto;
    
}
/* .sh creates a subheadding style for use in header cell - contact info  */
.sh {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: auto;
    
}

/* .h2 creates a header style for use within an html table cell */
.h2 {
    color: #340517;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: auto;
    
}

/* objective section bold text*/
.objtxtbld {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 20px;
    margin-bottom: auto;
    font-weight: bold;
}

/*small-caps bold text for sub-headings in each row (ex: name of degree program)*/
.bdsubhead {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps
}

/*all-small-caps bold text for sub-sub-headings in each row (ex: degree concentration)*/
.bdallsmall {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-variant: all-petite-caps;
    font-size: 25px;
}

.bdtxt {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 18px;
    margin-bottom: auto;
}